body {
    background-color: #f0f0f0;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
  }
  
  a {
    color: #007bff;
  }
  
  .dark-mode {
    background-color: #121111;
    color: #fff;
  }
  
  .dark-mode a {
    color: #66d9ef;
  }
  
  /* Centering styles */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

  }
  
  button {
    margin: 20px auto;
    display: block;
  }